<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="memo memo-index">
      <h2>Index</h2>
      <ul>
        <% memos.forEach(function(memo) { %>
          <li>
            <!-- <%= memo.title %> title 출력--> 
            <a href="/memos/<%= memo._id %>"><%= memo.title %></a> <!-- a tag를 이용해서 show action과 연결 -->
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>