<!-- container, list-group, list-group-item class 추가 -->
<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container memo memo-index">
   <h2>Index</h2>
   <ul class="list-group">
    <% memos.forEach(function(memo) { %>
     <li class="list-group-item">
      <a href="/memos/<%= memo._id %>"><%= memo.title %></a>
     </li>
    <% }) %>
   </ul>
  </div>
 </body>
</html>