<!-- container, btn btn-default, form-group, form-class 추가 -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="container memo memo-new">
      <div class="memo-menu">
        <a class="btn btn-default" href="/memos">Back</a>
      </div>
      <h2>New</h2>
      <form class="memo-form" action="/memos" method="post">
        <div class="form-group">
          <label for="id">id</label>
          <input class="form-control" type="text" id="id" name="id" value="">
        </div>
        <div class="form-group">
          <label for="title">title</label>
          <input class="form-control" type="text" id="title" name="title" value="">
        </div>
        <div class="form-group">
          <label for="text">text</label>
          <input class="form-control" type="text" id="text" name="text" value="">
        </div>
        <div>
          <button class="btn btn-default" type="submit">Submit</button> <!--form이 submit되면 /memos에 post를 요청한다.-->
        </div>
      </form>
    </div>
  </body>
</html>