.memo .memo-form,
.memo-index ul{
 max-width: 500px;
}
.memo h2{
 color: tomato;
}
.memo .memo-form label,
.memo-show label{
 display: inline-block;
 width: 50px;
}
.memo .memo-menu form{
 display: inline-block;
}